
$font: "Poppins", sans-serif;
$bg-color:#181719;
$text-color: #FFFFFF;
$nav-active-color:#FFFFFF;

$text-xs: 0.75rem;
$text-sm: 0.875rem;
$text-md: 1rem;
$text-lg: 1.5rem;
$text-xl: 2rem;

$space-xs: 0.25rem;
$space-sm: 0.5rem;
$space-md: 1rem;
$space-lg: 2rem;