@import "helpers/variables", 
        "helpers/reset", 
        "helpers/global-media-queries",
        "helpers/global-mixins",
        "helpers/_devchallenges";

body {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  background-color: $bg-color;
}

#container {
  max-width: 1200px;
  padding: $space-lg;
  margin: 0 auto;

  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 99vh;

  @include media-down(medium){
    padding: $space-md;
  }

  @include media-up(huge) {
    height: 50vh;
  }

}

header { 
  @include flex(space-between);

  .logo {
    border: 1px solid #ffffff;
    padding: $space-xs $space-sm;

    font-family: "Crimson Pro", serif;
    font-size: $text-md;
    font-weight: 200;
  }

  .navigation--open {
    background-color: $bg-color;

    @include flex-col(center,center);
    row-gap: $space-lg;

    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
}

.navigation__item {
  text-decoration: none;
  color: #ffffff;
  margin-left: $space-lg;

  &--active {
    text-decoration: underline;
    text-underline-offset: $space-sm;
    font-weight: bold;
  }
  &:hover {
    font-weight: bold;
  }
}

.menu-button {
  background-color: transparent;
  border: none;
  color: #ffffff;
  display: none;

  &:hover {
    cursor: pointer;
  }
}

main {
  @include flex;

  @include media-down(medium){
    display: block;
    margin-top: $space-lg;
  }
  
}

.main__contain {
  flex: 4;
  .headline {
    font-family: "Lora", serif;
    font-weight: normal;
  }

  .description {
    margin-top: $space-lg;
    margin-bottom: $space-lg;
    max-width: 310px;

    font-size:	$paragraph;
	  font-size: 	$paragraph-clamp;
  }
  a {
    color: #ffffff;
    text-decoration: none;
  }
  .material-icons {
    margin-left: $space-xs;
    vertical-align: middle;
  }
}

.main__img {
  flex: 6;
  .main__photo {
    width: 100%;
    // max-width: 820px;
  }

  position: relative;
}

.tagbox__namecard {
  @include flex;
  margin-bottom: $space-md;

  img {
    border-radius: 50%;
    max-width: $space-md * 4;
    margin-right: $space-md;
  }
}

.tagbox__content {
  .fullname {
    margin-bottom: $space-sm;
    font-size: $text-sm;
  }
  .title {
    font-size: $text-xs;
    color: #828282;
  }
}

.tagbox {
  background: $bg-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: $space-md;
  max-width: 410px;
  width: 50%;

  position: absolute;
  right: $space-lg;
  bottom: -$space-lg * 2.5;

  .tagbox__credit {
    font-family: "Lora", serif;
    padding-bottom: $space-sm;
  }
}

footer {
  margin: 0 auto;
}

/* HAMBURGER BUTTON */

.hamburger-button {
  display: none;
  background: none;
  border: none;

  position: relative;

  @include media-down(medium){
    display: block;
    z-index: 2;
  }
}

.hamburger-button__bar {
  height: 3px;
  width: 22px;
  background-color: white;
  margin-top: 4px;
  border-radius: 2px;

  transform-origin: 21px;

  &:nth-child(1) {
    margin-top: 0;
  }
}

.hamburger-button--open{
  .hamburger-button__bar:nth-child(1) {
    transform: rotate(-45deg);
  }
  .hamburger-button__bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger-button__bar:nth-child(3) {
    transform: rotate(45deg);
  }
}

@include media-down(medium){

  .tagbox {
    padding: $space-md;

    width: 80%;

    right: $space-md;
    bottom: -$space-lg * 2.5;

    .tagbox__credit {
      font-family: "Lora", serif;
      padding-bottom: $space-sm;
    }
  }
  .navigation {
    display: none;
  }

}

