h1,
.h1Text {
  font-size: 2.488rem;
  font-size: clamp(2.074rem, 12vw + 1px, 2.986rem);
}

h2,
.h2Text {
  font-size: 2.074rem;
  font-size: clamp(1.728rem, 8vw + 1px, 2.488rem);
}

h3,
.h3Text {
  font-size: 1.728rem;
  font-size: clamp(1.44rem, 6vw + 1px, 1.728rem);
}

h4,
.h4Text {
  font-size: 1.44rem;
  font-size: clamp(1.2rem, 5vw + 1px, 1.44rem);
}

h5,
.h5Text {
  font-size: 1.2rem;
  font-size: clamp(1rem, 4vw + 1px, 1.2rem);
}

.pText {
  font-size: 1rem;
}

.smallText {
  font-size: 0.875rem;
}

.tinyText {
  font-size: 0.8125rem;
}

.jumbo1 {
  font-size: 2.986rem;
}

.jumbo2 {
  font-size: 3.583rem;
}

.jumbo3 {
  font-size: 4.3rem;
}

.jumbo4 {
  font-size: 5.16rem;
}

.jumbo5 {
  font-size: 5.16rem;
}

.jumbo6 {
  font-size: 5.16rem;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
hr {
  margin: 0;
  padding: 0;
  border: 0;
}

.attribution__devCha {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}
.attribution__devCha a {
  text-decoration: none;
  color: #a9a9a9;
  font-weight: bold;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  background-color: #181719;
}

#container {
  max-width: 1200px;
  padding: 2rem;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 99vh;
}
@media (max-width: 46.5em) {
  #container {
    padding: 1rem;
  }
}
@media (min-width: 150em) {
  #container {
    height: 50vh;
  }
}

header {
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  border: 1px solid #ffffff;
  padding: 0.25rem 0.5rem;
  font-family: "Crimson Pro", serif;
  font-size: 1rem;
  font-weight: 200;
}
header .navigation--open {
  background-color: #181719;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.navigation__item {
  text-decoration: none;
  color: #ffffff;
  margin-left: 2rem;
}
.navigation__item--active {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  font-weight: bold;
}
.navigation__item:hover {
  font-weight: bold;
}

.menu-button {
  background-color: transparent;
  border: none;
  color: #ffffff;
  display: none;
}
.menu-button:hover {
  cursor: pointer;
}

main {
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 46.5em) {
  main {
    display: block;
    margin-top: 2rem;
  }
}

.main__contain {
  flex: 4;
}
.main__contain .headline {
  font-family: "Lora", serif;
  font-weight: normal;
}
.main__contain .description {
  margin-top: 2rem;
  margin-bottom: 2rem;
  max-width: 310px;
  font-size: 1rem;
  font-size: clamp(0.875rem, 3vw + 1px, 1rem);
}
.main__contain a {
  color: #ffffff;
  text-decoration: none;
}
.main__contain .material-icons {
  margin-left: 0.25rem;
  vertical-align: middle;
}

.main__img {
  flex: 6;
  position: relative;
}
.main__img .main__photo {
  width: 100%;
}

.tagbox__namecard {
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
}
.tagbox__namecard img {
  border-radius: 50%;
  max-width: 4rem;
  margin-right: 1rem;
}

.tagbox__content .fullname {
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
}
.tagbox__content .title {
  font-size: 0.75rem;
  color: #828282;
}

.tagbox {
  background: #181719;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 1rem;
  max-width: 410px;
  width: 50%;
  position: absolute;
  right: 2rem;
  bottom: -5rem;
}
.tagbox .tagbox__credit {
  font-family: "Lora", serif;
  padding-bottom: 0.5rem;
}

footer {
  margin: 0 auto;
}

/* HAMBURGER BUTTON */
.hamburger-button {
  display: none;
  background: none;
  border: none;
  position: relative;
}
@media (max-width: 46.5em) {
  .hamburger-button {
    display: block;
    z-index: 2;
  }
}

.hamburger-button__bar {
  height: 3px;
  width: 22px;
  background-color: white;
  margin-top: 4px;
  border-radius: 2px;
  transform-origin: 21px;
}
.hamburger-button__bar:nth-child(1) {
  margin-top: 0;
}

.hamburger-button--open .hamburger-button__bar:nth-child(1) {
  transform: rotate(-45deg);
}
.hamburger-button--open .hamburger-button__bar:nth-child(2) {
  opacity: 0;
}
.hamburger-button--open .hamburger-button__bar:nth-child(3) {
  transform: rotate(45deg);
}

@media (max-width: 46.5em) {
  .tagbox {
    padding: 1rem;
    width: 80%;
    right: 1rem;
    bottom: -5rem;
  }
  .tagbox .tagbox__credit {
    font-family: "Lora", serif;
    padding-bottom: 0.5rem;
  }

  .navigation {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
